@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  line-height: 2;

  color-scheme: light dark;
  color: black;
  background-color: #242424;
  font-family: "Outfit", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: hsl(330, 100%, 98%);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.main-div {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 40rem;
  border-radius: 1rem;
}

img {
  width: 40rem;
}

h1 {
  color: black;
  font-family: "Young Serif", serif;
  font-size: 2.5rem;
  margin: 1rem 0;
}

p {
  color: black;
  font-size: 16px;
  margin-top: 0;
}

.main-section-1 {
  padding: 0 1rem;
  background-color: hsl(330, 100%, 98%);
  color: black;
}

.main-section-1 h3 {
  color: hsl(332, 51%, 32%);
}

.main-section-1 li {
  padding: 0 1rem;
}

.main-section-1 span {
  font-weight: bold;
}

.main-section-2 h2 {
  font-family: "Young Serif", serif;
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  margin-top: 1rem;
  margin-bottom: 0;
}

.main-section-2 ul {
  padding: 0;
  list-style: none;
  margin: 0.5rem 0;
}

.main-section-2 li {
  padding: 0;
}

.main-section-2 li::before {
  content: "\2022";
  padding: 0 0.5rem;
  color: hsl(14, 45%, 36%);
}

.main-section-2 li span {
  padding: 0 1rem;
}

hr {
  border: 0;
  height: 2px;
  background: rgba(51, 51, 51, 0.1);
  margin: 1rem 0.5rem;
}

.main-section-3 h2 {
  font-family: "Young Serif", serif;
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  margin: 0;
}

.main-section-3 ul {
  padding-left: 0;
  counter-reset: list-counter;
  list-style: none;
}

.main-section-3 li {
  counter-increment: list-counter;
  position: relative;
  padding-left: 3rem;
}

.main-section-3 li::before {
  content: counter(list-counter) ". ";
  color: hsl(14, 45%, 36%);
  position: absolute;
  padding: 0 0.5rem;
  left: 0;
  width: 1rem;
  text-align: right;
  font-weight: bold;
}

.main-section-3 li span {
  padding: 0;
  font-weight: bold;
}

.main-section-4 h2 {
  font-family: "Young Serif", serif;
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  margin: 0;
}

.main-section-4 p {
  color: black;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.table td {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding: 0.5rem 0;
}

.table td:nth-child(even) {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
